In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv
/kaggle/input/titanic-competition-datasets/gender_submission.csv

In [2]:
import numpy as np
import pandas as pd
import os

import tensorflow as tf
import tensorflow_decision_forests as tfdf

print(f"Found TF-DF {tfdf.__version__}")

/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/__init__.py:98: UserWarning: unable to load libtensorflow_io_plugins.so: unable to open file: libtensorflow_io_plugins.so, from paths: ['/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io_plugins.so']
caused by: ['/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io_plugins.so: undefined symbol: _ZN3tsl6StatusC1EN10tensorflow5error4CodeESt17basic_string_viewIcSt11char_traitsIcEENS_14SourceLocationE']
  warnings.warn(f"unable to load libtensorflow_io_plugins.so: {e}")
/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/__init__.py:104: UserWarning: file system plugins are not loaded: unable to open file: libtensorflow_io.so, from paths: ['/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io.so']
caused by: ['/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io.so: undefined symbol: _ZTVN10tensorflow13GcsFileSystemE']
  warnings.warn(f"file system plugins are not loaded: {e}")

Found TF-DF 1.3.0

In [3]:
train_df = pd.read_csv("/kaggle/input/titanic/train.csv")
serving_df = pd.read_csv("/kaggle/input/titanic/test.csv")

train_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [4]:
def preprocess(df):
    df = df.copy()
    
    def normalize_name(x):
        return " ".join([v.strip(",()[].\"'") for v in x.split(" ")])
    
    def ticket_number(x):
        return x.split(" ")[-1]
        
    def ticket_item(x):
        items = x.split(" ")
        if len(items) == 1:
            return "NONE"
        return "_".join(items[0:-1])
    
    df["Name"] = df["Name"].apply(normalize_name)
    df["Ticket_number"] = df["Ticket"].apply(ticket_number)
    df["Ticket_item"] = df["Ticket"].apply(ticket_item)                     
    return df
    
preprocessed_train_df = preprocess(train_df)
preprocessed_serving_df = preprocess(serving_df)

preprocessed_train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,1,0,3,Braund Mr Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S,21171,A/5
1,2,1,1,Cumings Mrs John Bradley Florence Briggs Thayer,female,38.0,1,0,PC 17599,71.2833,C85,C,17599,PC
2,3,1,3,Heikkinen Miss Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3101282,STON/O2.
3,4,1,1,Futrelle Mrs Jacques Heath Lily May Peel,female,35.0,1,0,113803,53.1000,C123,S,113803,NONE
4,5,0,3,Allen Mr William Henry,male,35.0,0,0,373450,8.0500,NaN,S,373450,NONE

In [5]:
num_features = train_df.shape[1]
print("Number of input features:", num_features)

Number of input features: 12

In [6]:
input_features = list(preprocessed_train_df.columns)
input_features.remove("Ticket")
input_features.remove("PassengerId")
input_features.remove("Survived")
#input_features.remove("Ticket_number")

print(f"Input features: {input_features}")

Input features: ['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked', 'Ticket_number', 'Ticket_item']

In [7]:
def tokenize_names(features, labels=None):
    """Divite the names into tokens. TF-DF can consume text tokens natively."""
    features["Name"] =  tf.strings.split(features["Name"])
    return features, labels

train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_train_df,label="Survived").map(tokenize_names)
serving_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_serving_df).map(tokenize_names)

In [8]:
model = tfdf.keras.GradientBoostedTreesModel(
    verbose=0, # Very few logs
    features=[tfdf.keras.FeatureUsage(name=n) for n in input_features],
    exclude_non_specified_features=True, # Only use the features in "features"
    random_seed=1234,
)
model.fit(train_ds)

self_evaluation = model.make_inspector().evaluation()
print(f"Accuracy: {self_evaluation.accuracy} Loss:{self_evaluation.loss}")

[WARNING 23-06-13 15:22:41.3392 UTC gradient_boosted_trees.cc:1797] "goss_alpha" set but "sampling_method" not equal to "GOSS".
[WARNING 23-06-13 15:22:41.3393 UTC gradient_boosted_trees.cc:1808] "goss_beta" set but "sampling_method" not equal to "GOSS".
[WARNING 23-06-13 15:22:41.3393 UTC gradient_boosted_trees.cc:1822] "selective_gradient_boosting_ratio" set but "sampling_method" not equal to "SELGB".
[INFO 23-06-13 15:22:49.0753 UTC kernel.cc:1242] Loading model from path /tmp/tmp162tjxlp/model/ with prefix b9a7c18620854c3a
[INFO 23-06-13 15:22:49.0873 UTC abstract_model.cc:1311] Engine "GradientBoostedTreesQuickScorerExtended" built
[INFO 23-06-13 15:22:49.0875 UTC kernel.cc:1074] Use fast generic engine

WARNING: AutoGraph could not transform <function simple_ml_inference_op_with_handle at 0x7879e9c05900> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: could not get source code
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
Accuracy: 0.8260869383811951 Loss:0.8608942627906799

In [9]:
model.summary()

Model: "gradient_boosted_trees_model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1
Trainable params: 0
Non-trainable params: 1
_________________________________________________________________
Type: "GRADIENT_BOOSTED_TREES"
Task: CLASSIFICATION
Label: "__LABEL"

Input Features (11):
	Age
	Cabin
	Embarked
	Fare
	Name
	Parch
	Pclass
	Sex
	SibSp
	Ticket_item
	Ticket_number

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.           "Sex"  0.459973 ################
    2.          "Name"  0.275098 #####
    3.        "Pclass"  0.245396 ###
    4.          "Fare"  0.236151 ###
    5.           "Age"  0.236094 ###
    6.   "Ticket_item"  0.206166 #
    7. "Ticket_number"  0.199365 #
    8.      "Embarked"  0.184753
    9.         "SibSp"  0.181901
   10.         "Parch"  0.177765

Variable Importance: NUM_AS_ROOT:
    1.  "Sex" 23.000000 ################
    2. "Name"  7.000000 ####
    3. "Fare"  1.000000

Variable Importance: NUM_NODES:
    1.          "Name" 203.000000 ################
    2.           "Age" 137.000000 ##########
    3.          "Fare" 135.000000 ##########
    4.   "Ticket_item" 65.000000 ####
    5. "Ticket_number" 46.000000 ##
    6.        "Pclass" 43.000000 ##
    7.           "Sex" 26.000000
    8.      "Embarked" 25.000000
    9.         "Parch" 18.000000
   10.         "SibSp" 16.000000

Variable Importance: SUM_SCORE:
    1.           "Sex" 252.218116 ################
    2.        "Pclass" 92.180278 #####
    3.          "Name" 91.261413 #####
    4.          "Fare" 66.343600 ####
    5.           "Age" 66.282044 ####
    6.         "SibSp" 31.695974 #
    7.   "Ticket_item" 30.992236 #
    8. "Ticket_number" 28.132748 #
    9.      "Embarked" 11.668963
   10.         "Parch"  2.393148



Loss: BINOMIAL_LOG_LIKELIHOOD
Validation loss value: 0.860894
Number of trees per iteration: 1
Node format: NOT_SET
Number of trees: 31
Total number of nodes: 1459

Number of nodes by tree:
Count: 31 Average: 47.0645 StdDev: 5.78059
Min: 33 Max: 61 Ignored: 0
----------------------------------------------
[ 33, 34) 1   3.23%   3.23% ##
[ 34, 35) 0   0.00%   3.23%
[ 35, 37) 0   0.00%   3.23%
[ 37, 38) 2   6.45%   9.68% ###
[ 38, 40) 0   0.00%   9.68%
[ 40, 41) 0   0.00%   9.68%
[ 41, 43) 2   6.45%  16.13% ###
[ 43, 44) 4  12.90%  29.03% #######
[ 44, 46) 4  12.90%  41.94% #######
[ 46, 47) 0   0.00%  41.94%
[ 47, 48) 2   6.45%  48.39% ###
[ 48, 50) 6  19.35%  67.74% ##########
[ 50, 51) 0   0.00%  67.74%
[ 51, 53) 6  19.35%  87.10% ##########
[ 53, 54) 2   6.45%  93.55% ###
[ 54, 56) 0   0.00%  93.55%
[ 56, 57) 0   0.00%  93.55%
[ 57, 59) 1   3.23%  96.77% ##
[ 59, 60) 0   0.00%  96.77%
[ 60, 61] 1   3.23% 100.00% ##

Depth by leafs:
Count: 745 Average: 4.73423 StdDev: 0.559695
Min: 2 Max: 5 Ignored: 0
----------------------------------------------
[ 2, 3)   5   0.67%   0.67%
[ 3, 4)  29   3.89%   4.56%
[ 4, 5) 125  16.78%  21.34% ##
[ 5, 5] 586  78.66% 100.00% ##########

Number of training obs by leaf:
Count: 745 Average: 33.247 StdDev: 70.3269
Min: 1 Max: 426 Ignored: 0
----------------------------------------------
[   1,  22) 549  73.69%  73.69% ##########
[  22,  43)  50   6.71%  80.40% #
[  43,  64)  40   5.37%  85.77% #
[  64,  86)  30   4.03%  89.80% #
[  86, 107)  23   3.09%  92.89%
[ 107, 128)   6   0.81%  93.69%
[ 128, 150)   8   1.07%  94.77%
[ 150, 171)   5   0.67%  95.44%
[ 171, 192)   4   0.54%  95.97%
[ 192, 214)   0   0.00%  95.97%
[ 214, 235)   1   0.13%  96.11%
[ 235, 256)   3   0.40%  96.51%
[ 256, 277)   1   0.13%  96.64%
[ 277, 299)   1   0.13%  96.78%
[ 299, 320)   1   0.13%  96.91%
[ 320, 341)   5   0.67%  97.58%
[ 341, 363)  11   1.48%  99.06%
[ 363, 384)   3   0.40%  99.46%
[ 384, 405)   1   0.13%  99.60%
[ 405, 426]   3   0.40% 100.00%

Attribute in nodes:
	203 : Name [CATEGORICAL_SET]
	137 : Age [NUMERICAL]
	135 : Fare [NUMERICAL]
	65 : Ticket_item [CATEGORICAL]
	46 : Ticket_number [CATEGORICAL]
	43 : Pclass [NUMERICAL]
	26 : Sex [CATEGORICAL]
	25 : Embarked [CATEGORICAL]
	18 : Parch [NUMERICAL]
	16 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 0:
	23 : Sex [CATEGORICAL]
	7 : Name [CATEGORICAL_SET]
	1 : Fare [NUMERICAL]

Attribute in nodes with depth <= 1:
	23 : Sex [CATEGORICAL]
	20 : Pclass [NUMERICAL]
	16 : Name [CATEGORICAL_SET]
	15 : Age [NUMERICAL]
	8 : Fare [NUMERICAL]
	6 : Ticket_number [CATEGORICAL]
	5 : Ticket_item [CATEGORICAL]

Attribute in nodes with depth <= 2:
	39 : Name [CATEGORICAL_SET]
	33 : Pclass [NUMERICAL]
	33 : Fare [NUMERICAL]
	28 : Age [NUMERICAL]
	23 : Sex [CATEGORICAL]
	20 : Ticket_item [CATEGORICAL]
	17 : Ticket_number [CATEGORICAL]
	11 : SibSp [NUMERICAL]
	8 : Embarked [CATEGORICAL]

Attribute in nodes with depth <= 3:
	97 : Name [CATEGORICAL_SET]
	75 : Age [NUMERICAL]
	65 : Fare [NUMERICAL]
	44 : Ticket_item [CATEGORICAL]
	39 : Pclass [NUMERICAL]
	38 : Ticket_number [CATEGORICAL]
	26 : Sex [CATEGORICAL]
	15 : Embarked [CATEGORICAL]
	12 : SibSp [NUMERICAL]
	10 : Parch [NUMERICAL]

Attribute in nodes with depth <= 5:
	203 : Name [CATEGORICAL_SET]
	137 : Age [NUMERICAL]
	135 : Fare [NUMERICAL]
	65 : Ticket_item [CATEGORICAL]
	46 : Ticket_number [CATEGORICAL]
	43 : Pclass [NUMERICAL]
	26 : Sex [CATEGORICAL]
	25 : Embarked [CATEGORICAL]
	18 : Parch [NUMERICAL]
	16 : SibSp [NUMERICAL]

Condition type in nodes:
	349 : HigherCondition
	193 : ContainsBitmapCondition
	172 : ContainsCondition
Condition type in nodes with depth <= 0:
	28 : ContainsBitmapCondition
	2 : ContainsCondition
	1 : HigherCondition
Condition type in nodes with depth <= 1:
	44 : ContainsBitmapCondition
	43 : HigherCondition
	6 : ContainsCondition
Condition type in nodes with depth <= 2:
	105 : HigherCondition
	83 : ContainsBitmapCondition
	24 : ContainsCondition
Condition type in nodes with depth <= 3:
	201 : HigherCondition
	147 : ContainsBitmapCondition
	73 : ContainsCondition
Condition type in nodes with depth <= 5:
	349 : HigherCondition
	193 : ContainsBitmapCondition
	172 : ContainsCondition

Training logs:
Number of iteration to final model: 31
	Iter:1 train-loss:1.217019 valid-loss:1.312529  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:2 train-loss:1.133056 valid-loss:1.235091  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:3 train-loss:1.064436 valid-loss:1.173175  train-accuracy:0.814768 valid-accuracy:0.750000
	Iter:4 train-loss:1.005204 valid-loss:1.132056  train-accuracy:0.827284 valid-accuracy:0.760870
	Iter:5 train-loss:0.955619 valid-loss:1.088404  train-accuracy:0.849812 valid-accuracy:0.782609
	Iter:6 train-loss:0.910064 valid-loss:1.048073  train-accuracy:0.857322 valid-accuracy:0.782609
	Iter:16 train-loss:0.675914 valid-loss:0.908024  train-accuracy:0.879850 valid-accuracy:0.804348
	Iter:26 train-loss:0.568907 valid-loss:0.876063  train-accuracy:0.899875 valid-accuracy:0.815217
	Iter:36 train-loss:0.513896 valid-loss:0.876310  train-accuracy:0.913642 valid-accuracy:0.804348
	Iter:46 train-loss:0.471705 valid-loss:0.885088  train-accuracy:0.923655 valid-accuracy:0.804348
	Iter:56 train-loss:0.432659 valid-loss:0.886860  train-accuracy:0.931164 valid-accuracy:0.804348

In [10]:
def prediction_to_kaggle_format(model, threshold=0.5):
    proba_survive = model.predict(serving_ds, verbose=0)[:,0]
    return pd.DataFrame({
        "PassengerId": serving_df["PassengerId"],
        "Survived": (proba_survive >= threshold).astype(int)
    })

def make_submission(kaggle_predictions):
    path="/kaggle/working/submission.csv"
    kaggle_predictions.to_csv(path, index=False)
    print(f"Submission exported to {path}")
    
kaggle_predictions = prediction_to_kaggle_format(model)
make_submission(kaggle_predictions)
!head /kaggle/working/submission.csv

Submission exported to /kaggle/working/submission.csv
PassengerId,Survived
892,0
893,0
894,0
895,0
896,1
897,0
898,1
899,0
900,1

In [11]:
women = preprocessed_train_df.loc[preprocessed_train_df.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [12]:
men = preprocessed_train_df.loc[preprocessed_train_df.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of women who survived:", rate_men)

% of women who survived: 0.18890814558058924

In [13]:
# from sklearn.ensemble import RandomForestClassifier

# y = train_data["Survived"]

# features = ["Pclass", "Sex", "SibSp", "Parch"]
# X = pd.get_dummies(train_data[features])
# X_test = pd.get_dummies(test_data[features])

# model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
# model.fit(X, y)
# predictions = model.predict(X_test)

# output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
# output.to_csv('submission.csv', index=False)
# print("Your submission was successfully saved!")



from sklearn.ensemble import RandomForestClassifier
import numpy as np

from sklearn.ensemble import RandomForestClassifier

y = preprocessed_train_df["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X_train = pd.get_dummies(preprocessed_train_df[features])
X_test = pd.get_dummies(preprocessed_serving_df[features])

# Create a Random Forest classifier
model = RandomForestClassifier(n_estimators=100, random_state=10, max_depth=10)

# Train the model
model.fit(X_train, y)

# Evaluate the model
predictions = model.predict(X_test)
accuracy = model.score(X_train, y)
print(f"Accuracy: {accuracy}")

output.to_csv('submission2.csv', index=False)
print("Your submission was successfully saved!")

Accuracy: 0.8170594837261503

NameError: name 'output' is not defined